/1.pdf
/2.pdf
/amazon.pbix
/Amazon.sql
/books.csv
/clean data.py
/clean data_2.py
/cleaned_file.csv
/cleaned_file_1.csv
/cleaned_file_2.csv
/creat_table.sql
/different_type_of_book.csv
/final_book_dataset_kaggle2.csv
/first.sql
/price_distribution.csv
/python.pdf
/selected_books.csv